<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Apple Devices</string>
		<key>sections</key>
		<array>
			<dict>
				<key>name</key>
				<string>iPhone</string>
				<key>presets</key>
				<array>
					<dict>
						<key>name</key>
						<string>iPhone 7</string>
						<key>imageName</key>
						<string>artboard_device_phone</string>
						<key>width</key>
						<integer>375</integer>
						<key>height</key>
						<integer>667</integer>
						<key>offersLandscapeVariant</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>iPhone 7 Plus</string>
						<key>imageName</key>
						<string>artboard_device_phone</string>
						<key>width</key>
						<integer>414</integer>
						<key>height</key>
						<integer>736</integer>
						<key>offersLandscapeVariant</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>iPhone SE</string>
						<key>imageName</key>
						<string>artboard_device_phone</string>
						<key>width</key>
						<integer>320</integer>
						<key>offersLandscapeVariant</key>
						<true/>
						<key>height</key>
						<integer>568</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>iPad</string>
				<key>presets</key>
				<array>
					<dict>
						<key>name</key>
						<string>iPad</string>
						<key>width</key>
						<integer>768</integer>
						<key>imageName</key>
						<string>artboard_device_tablet</string>
						<key>height</key>
						<real>1024</real>
						<key>offersLandscapeVariant</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>iPad Pro</string>
						<key>width</key>
						<real>1024</real>
						<key>imageName</key>
						<string>artboard_device_tablet</string>
						<key>offersLandscapeVariant</key>
						<true/>
						<key>height</key>
						<real>1366</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Apple Watch</string>
				<key>presets</key>
				<array>
					<dict>
						<key>name</key>
						<string>Apple Watch 38mm</string>
						<key>imageName</key>
						<string>artboard_device_watch</string>
						<key>width</key>
						<integer>272</integer>
						<key>height</key>
						<integer>340</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Apple Watch 42mm</string>
						<key>imageName</key>
						<string>artboard_device_watch</string>
						<key>width</key>
						<integer>312</integer>
						<key>height</key>
						<integer>390</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Apple TV</string>
				<key>presets</key>
				<array>
					<dict>
						<key>name</key>
						<string>Apple TV</string>
						<key>imageName</key>
						<string>artboard_device_tv</string>
						<key>width</key>
						<integer>1920</integer>
						<key>height</key>
						<integer>1080</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Mac</string>
				<key>presets</key>
				<array>
					<dict>
						<key>name</key>
						<string>Touch Bar</string>
						<key>imageName</key>
						<string>artboard_device_desktop</string>
						<key>width</key>
						<integer>1085</integer>
						<key>height</key>
						<integer>30</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Material Design</string>
		<key>sections</key>
		<array>
			<dict>
				<key>name</key>
				<string>Mobile</string>
				<key>presets</key>
				<array>
					<dict>
						<key>name</key>
						<string>Mobile</string>
						<key>imageName</key>
						<string>artboard_device_phone</string>
						<key>offersLandscapeVariant</key>
						<true/>
						<key>width</key>
						<integer>360</integer>
						<key>height</key>
						<integer>640</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Tablet</string>
				<key>presets</key>
				<array>
					<dict>
						<key>name</key>
						<string>Tablet 9″</string>
						<key>offersLandscapeVariant</key>
						<true/>
						<key>width</key>
						<integer>768</integer>
						<key>imageName</key>
						<string>artboard_device_tablet</string>
						<key>height</key>
						<integer>1024</integer>
					</dict>
					<dict>
						<key>name</key>
						<string>Tablet 7″</string>
						<key>width</key>
						<integer>600</integer>
						<key>imageName</key>
						<string>artboard_device_tablet</string>
						<key>offersLandscapeVariant</key>
						<true/>
						<key>height</key>
						<integer>960</integer>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Desktop</string>
				<key>presets</key>
				<array>
					<dict>
						<key>name</key>
						<string>Desktop</string>
						<key>imageName</key>
						<string>artboard_device_desktop</string>
						<key>width</key>
						<real>1280</real>
						<key>height</key>
						<integer>850</integer>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Responsive Web</string>
		<key>sections</key>
		<array>
			<dict>
				<key>name</key>
				<string>Mobile</string>
				<key>presets</key>
				<array>
					<dict>
						<key>height</key>
						<real>1024</real>
						<key>name</key>
						<string>Mobile</string>
						<key>imageName</key>
						<string>artboard_device_phone</string>
						<key>offersLandscapeVariant</key>
						<true/>
						<key>width</key>
						<real>320</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Tablet</string>
				<key>presets</key>
				<array>
					<dict>
						<key>height</key>
						<real>1024</real>
						<key>name</key>
						<string>Tablet</string>
						<key>imageName</key>
						<string>artboard_device_tablet</string>
						<key>offersLandscapeVariant</key>
						<true/>
						<key>width</key>
						<real>768</real>
					</dict>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>Desktop</string>
				<key>presets</key>
				<array>
					<dict>
						<key>height</key>
						<real>1024</real>
						<key>name</key>
						<string>Desktop</string>
						<key>imageName</key>
						<string>artboard_device_desktop</string>
						<key>width</key>
						<real>1024</real>
					</dict>
					<dict>
						<key>height</key>
						<real>1024</real>
						<key>name</key>
						<string>Desktop HD</string>
						<key>imageName</key>
						<string>artboard_device_desktop</string>
						<key>width</key>
						<real>1440</real>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Paper Sizes</string>
		<key>sections</key>
		<array>
			<dict>
				<key>presets</key>
				<array>
					<dict>
						<key>name</key>
						<string>A4</string>
						<key>imageName</key>
						<string>artboard_device_paper</string>
						<key>tooltip</key>
						<string>Only suitable for PDF Exporting</string>
						<key>width</key>
						<integer>595</integer>
						<key>height</key>
						<integer>842</integer>
						<key>offersLandscapeVariant</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>A5</string>
						<key>imageName</key>
						<string>artboard_device_paper</string>
						<key>tooltip</key>
						<string>Only suitable for PDF Exporting</string>
						<key>width</key>
						<integer>420</integer>
						<key>height</key>
						<integer>595</integer>
						<key>offersLandscapeVariant</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>A6</string>
						<key>imageName</key>
						<string>artboard_device_paper</string>
						<key>tooltip</key>
						<string>Only suitable for PDF Exporting</string>
						<key>width</key>
						<integer>297</integer>
						<key>height</key>
						<integer>420</integer>
						<key>offersLandscapeVariant</key>
						<true/>
					</dict>
					<dict>
						<key>name</key>
						<string>Letter</string>
						<key>imageName</key>
						<string>artboard_device_paper</string>
						<key>tooltip</key>
						<string>Only suitable for PDF Exporting</string>
						<key>width</key>
						<integer>612</integer>
						<key>height</key>
						<integer>792</integer>
						<key>offersLandscapeVariant</key>
						<true/>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
