<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InstallMenu</key>
	<true/>
	<key>Options</key>
	<dict>
		<key>Scripting</key>
		<dict>
			<key>title</key>
			<string>Scripting</string>
			<key>suboptions</key>
			<dict>
				<key>AlwaysReloadScript</key>
				<dict>
					<key>default</key>
					<false/>
					<key>title</key>
					<string>Always Reload Scripts</string>
				</dict>
				<key>actionWildcardsAllowed</key>
				<dict>
					<key>default</key>
					<false/>
					<key>title</key>
					<string>Allow Wildcard Events</string>
				</dict>
			</dict>
		</dict>
		<key>Other</key>
		<dict>
			<key>title</key>
			<string>Other</string>
			<key>suboptions</key>
			<dict>
				<key>NSShowNonLocalizedStrings</key>
				<dict>
					<key>default</key>
					<false/>
					<key>title</key>
					<string>Capitalise Non-Localized Strings</string>
				</dict>
				<key>DontExitWhenValidationFails</key>
				<dict>
					<key>default</key>
					<false/>
					<key>title</key>
					<string>Don&apos;t Exit When Validation Fails (Pretend to be hacked)</string>
				</dict>
				<key>recordAllocations</key>
				<dict>
					<key>default</key>
					<false/>
					<key>title</key>
					<string>Record Model Object Allocations</string>
				</dict>
				<key>SketchPlayDebug</key>
				<dict>
					<key>default</key>
					<false/>
					<key>title</key>
					<string>Sketch Mirror Debugging Enabled</string>
				</dict>
				<key>tryToFitToPixelBounds</key>
				<dict>
					<key>default</key>
					<false/>
					<key>title</key>
					<string>Try To Fit To Pixel Bounds</string>
				</dict>
				<key>RevealConvertedEPSFile</key>
				<dict>
					<key>default</key>
					<false/>
					<key>title</key>
					<string>Show PDF For Converted EPS </string>
				</dict>
				<key>UseStagingVersionOfSparkleKey</key>
				<dict>
					<key>default</key>
					<false/>
					<key>title</key>
					<string>Use Staging For Sparkle Feed</string>
				</dict>
			</dict>
		</dict>
		<key>Features</key>
		<dict>
			<key>title</key>
			<string>Features</string>
			<key>suboptions</key>
			<dict>
				<key>assetLibrariesEnabled</key>
				<dict>
					<key>default</key>
					<false/>
					<key>title</key>
					<string>Enable Asset Libraries</string>
				</dict>
			</dict>
		</dict>
		<key>Rendering</key>
		<dict>
			<key>title</key>
			<string>Rendering</string>
			<key>suboptions</key>
			<dict>
				<key>MSLayerOptions</key>
				<dict>
					<key>title</key>
					<string>Layers</string>
					<key>suboptions</key>
					<dict>
						<key>MSDrawLayerRect</key>
						<dict>
							<key>New item</key>
							<false/>
							<key>title</key>
							<string>Draw Layer Bounds</string>
						</dict>
						<key>MSDrawLayerInfluence</key>
						<dict>
							<key>New item</key>
							<false/>
							<key>title</key>
							<string>Draw Layer Influence</string>
						</dict>
						<key>DisableMSImmutableArtboardGroup</key>
						<dict>
							<key>New item</key>
							<false/>
							<key>title</key>
							<string>Don&apos;t Draw Artboards</string>
						</dict>
						<key>DisableMSImmutableSymbolMaster</key>
						<dict>
							<key>New item</key>
							<false/>
							<key>title</key>
							<string>Don&apos;t Draw Symbols</string>
						</dict>
						<key>DisableMSImmutableLayerGroup</key>
						<dict>
							<key>New item</key>
							<false/>
							<key>title</key>
							<string>Don&apos;t Draw Groups</string>
						</dict>
						<key>DisableMSImmutablePage</key>
						<dict>
							<key>New item</key>
							<false/>
							<key>title</key>
							<string>Don&apos;t Draw Pages</string>
						</dict>
						<key>DisableMSImmutableSymbolInstance</key>
						<dict>
							<key>New item</key>
							<false/>
							<key>title</key>
							<string>Don&apos;t Draw Symbol Instances</string>
						</dict>
						<key>DisableMSImmutableShapeGroup</key>
						<dict>
							<key>New item</key>
							<false/>
							<key>title</key>
							<string>Don&apos;t Draw Shapes</string>
						</dict>
						<key>DisableMSImmutableTextLayer</key>
						<dict>
							<key>New item</key>
							<false/>
							<key>title</key>
							<string>Don&apos;t Draw Text</string>
						</dict>
						<key>DisableMSImmutableBitmapLayer</key>
						<dict>
							<key>New item</key>
							<false/>
							<key>title</key>
							<string>Don&apos;t Draw Images</string>
						</dict>
						<key>DisableMSPath</key>
						<dict>
							<key>New item</key>
							<false/>
							<key>title</key>
							<string>Don&apos;t Draw Paths</string>
						</dict>
						<key>DisableMSImmutableStyleFill</key>
						<dict>
							<key>New item</key>
							<false/>
							<key>title</key>
							<string>Don&apos;t Draw Fills</string>
						</dict>
						<key>DisableMSImmutableStyleBlur</key>
						<dict>
							<key>New item</key>
							<false/>
							<key>title</key>
							<string>Don&apos;t Draw Background Blurs</string>
						</dict>
						<key>DisableMSImmutableStyleShadow</key>
						<dict>
							<key>New item</key>
							<false/>
							<key>title</key>
							<string>Don&apos;t Draw Shadows</string>
						</dict>
						<key>DisableMSImmutableStyleInnerShadow</key>
						<dict>
							<key>New item</key>
							<false/>
							<key>title</key>
							<string>Don&apos;t Draw Inner Shadows</string>
						</dict>
					</dict>
				</dict>
				<key>MSRenderingDriver</key>
				<dict>
					<key>title</key>
					<string>Driver</string>
					<key>values</key>
					<dict>
						<key>MSRenderingDriverCG</key>
						<dict>
							<key>title</key>
							<string>Normal Driver</string>
						</dict>
						<key>MSRenderingDriverCGDebug</key>
						<dict>
							<key>title</key>
							<string>Debug Driver</string>
						</dict>
					</dict>
				</dict>
				<key>MSTileOptions</key>
				<dict>
					<key>title</key>
					<string>Tiling</string>
					<key>suboptions</key>
					<dict>
						<key>MSDrawInnerContentLayerFrame</key>
						<dict>
							<key>default</key>
							<false/>
							<key>title</key>
							<string>Draw Inner Content Tile Frame</string>
						</dict>
						<key>MSDrawTileFrame</key>
						<dict>
							<key>default</key>
							<false/>
							<key>title</key>
							<string>Draw Tile Frame</string>
						</dict>
						<key>MSDrawDottedDirtyRect</key>
						<dict>
							<key>default</key>
							<false/>
							<key>title</key>
							<string>Draw Dotted Dirty Rect</string>
						</dict>
						<key>MSDrawCoordinateDebugging</key>
						<dict>
							<key>New item</key>
							<false/>
							<key>title</key>
							<string>Turn on View Coordinate Debugging</string>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
