<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hover</key>
	<dict>
		<key>r</key>
		<real>0.227</real>
		<key>g</key>
		<real>0.694</real>
		<key>b</key>
		<real>0.996</real>
	</dict>
	<key>label-backgroundcolor</key>
	<dict>
		<key>r</key>
		<integer>0</integer>
		<key>g</key>
		<integer>0</integer>
		<key>b</key>
		<integer>0</integer>
		<key>a</key>
		<string>0.3</string>
	</dict>
	<key>colorpicker-darkshadow</key>
	<dict>
		<key>r</key>
		<integer>0</integer>
		<key>g</key>
		<integer>0</integer>
		<key>b</key>
		<integer>0</integer>
		<key>a</key>
		<string>0.75</string>
	</dict>
	<key>colorpicker-lightshadow</key>
	<dict>
		<key>r</key>
		<real>0.976</real>
		<key>g</key>
		<real>0.976</real>
		<key>b</key>
		<real>0.976</real>
		<key>a</key>
		<string>1</string>
	</dict>
	<key>colorpicker-markershadow</key>
	<dict>
		<key>r</key>
		<integer>0</integer>
		<key>g</key>
		<integer>0</integer>
		<key>b</key>
		<integer>0</integer>
		<key>a</key>
		<string>1</string>
	</dict>
	<key>colorpicker-markerfill</key>
	<dict>
		<key>r</key>
		<real>0.929</real>
		<key>g</key>
		<real>0.929</real>
		<key>b</key>
		<real>0.929</real>
		<key>a</key>
		<string>1</string>
	</dict>
	<key>asset-border-color</key>
	<dict>
		<key>r</key>
		<integer>0</integer>
		<key>g</key>
		<integer>0</integer>
		<key>b</key>
		<integer>0</integer>
		<key>a</key>
		<string>0.15</string>
	</dict>
	<key>inspector-separator</key>
	<dict>
		<key>r</key>
		<real>0.667</real>
		<key>g</key>
		<real>0.667</real>
		<key>b</key>
		<real>0.667</real>
		<key>a</key>
		<string>1</string>
	</dict>
	<key>inspector-section-background</key>
	<dict>
		<key>b</key>
		<real>0.93</real>
	</dict>
	<key>inspector-section-separator</key>
	<dict>
		<key>b</key>
		<real>0.78</real>
	</dict>
	<key>color-inspector-separator</key>
	<dict>
		<key>r</key>
		<real>0.9</real>
		<key>g</key>
		<real>0.9</real>
		<key>b</key>
		<real>0.9</real>
		<key>a</key>
		<string>1</string>
	</dict>
	<key>outline-artboard-borderColour</key>
	<dict>
		<key>b</key>
		<real>0.55</real>
	</dict>
	<key>outline-standard-selectionBackgroundColour</key>
	<dict>
		<key>b</key>
		<real>0.761</real>
	</dict>
	<key>outline-artboard-selectionBackgroundColour</key>
	<dict>
		<key>b</key>
		<real>0.761</real>
	</dict>
	<key>outline-standard-highlightColour</key>
	<dict>
		<key>r</key>
		<real>0.227</real>
		<key>g</key>
		<real>0.698</real>
		<key>b</key>
		<real>0.996</real>
	</dict>
	<key>popover-error-color</key>
	<dict>
		<key>r</key>
		<real>0.984313725</real>
		<key>g</key>
		<real>0.694117647</real>
		<key>b</key>
		<real>0.729411765</real>
		<key>a</key>
		<integer>1</integer>
	</dict>
	<key>outline-artboard-highlightColour</key>
	<dict>
		<key>r</key>
		<real>0.227</real>
		<key>g</key>
		<real>0.698</real>
		<key>b</key>
		<real>0.996</real>
	</dict>
	<key>outline-standard-rowBackgroundColour</key>
	<dict>
		<key>b</key>
		<real>0.926</real>
	</dict>
	<key>outline-artboard-rowBackgroundColour</key>
	<dict>
		<key>b</key>
		<real>0.969</real>
	</dict>
	<key>outline-standard-alternateRowBackgroundColour</key>
	<dict>
		<key>b</key>
		<real>0.902</real>
	</dict>
	<key>outline-artboard-alternateRowBackgroundColour</key>
	<dict>
		<key>b</key>
		<real>0.969</real>
	</dict>
	<key>outline-standard-selectionForegroundColour</key>
	<dict>
		<key>r</key>
		<real>0.349</real>
		<key>g</key>
		<real>0.533</real>
		<key>b</key>
		<real>0.867</real>
	</dict>
	<key>outline-artboard-selectionForegroundColour</key>
	<dict>
		<key>r</key>
		<real>0.349</real>
		<key>g</key>
		<real>0.533</real>
		<key>b</key>
		<real>0.867</real>
	</dict>
	<key>layerlist-filter-off</key>
	<dict>
		<key>r</key>
		<real>0.247</real>
		<key>g</key>
		<real>0.49</real>
		<key>b</key>
		<real>0.925</real>
	</dict>
	<key>layerlist-filter-on</key>
	<dict>
		<key>b</key>
		<real>0.384</real>
	</dict>
	<key>layerlist-layer-name-inactive</key>
	<dict>
		<key>b</key>
		<real>0.5</real>
	</dict>
	<key>sidebar-splitview-divider-colour</key>
	<dict>
		<key>b</key>
		<real>0.663</real>
	</dict>
	<key>layerlist-preview-fill-mask</key>
	<dict>
		<key>r</key>
		<real>1</real>
		<key>g</key>
		<integer>1</integer>
		<key>b</key>
		<integer>1</integer>
		<key>a</key>
		<real>0.6</real>
	</dict>
	<key>layerlist-preview-fill-selected</key>
	<dict>
		<key>r</key>
		<real>1</real>
		<key>g</key>
		<integer>1</integer>
		<key>b</key>
		<integer>1</integer>
		<key>a</key>
		<real>0</real>
	</dict>
	<key>layerlist-preview-fill</key>
	<dict>
		<key>b</key>
		<real>0.9409999999999999</real>
	</dict>
	<key>message-bezel-border-color</key>
	<dict>
		<key>b</key>
		<integer>0</integer>
		<key>a</key>
		<real>0.1</real>
	</dict>
	<key>message-bezel-shadow-color</key>
	<dict>
		<key>b</key>
		<integer>0</integer>
		<key>a</key>
		<real>0.2125</real>
	</dict>
	<key>outline-edit-standard</key>
	<dict>
		<key>r</key>
		<real>0.259</real>
		<key>g</key>
		<real>0.467</real>
		<key>b</key>
		<real>0.757</real>
		<key>a</key>
		<string>1</string>
	</dict>
	<key>cloud-shares-timestamp-color</key>
	<dict>
		<key>b</key>
		<real>0.453125</real>
	</dict>
	<key>symbol</key>
	<dict>
		<key>r</key>
		<real>0.5647058824</real>
		<key>g</key>
		<real>0.2666666667</real>
		<key>b</key>
		<real>0.7215686274999999</real>
		<key>a</key>
		<string>1</string>
	</dict>
	<key>cloud-header-background</key>
	<dict>
		<key>r</key>
		<real>0.98</real>
		<key>g</key>
		<real>0.98</real>
		<key>b</key>
		<real>0.98</real>
		<key>a</key>
		<string>1</string>
	</dict>
	<key>cloud-header-separator</key>
	<dict>
		<key>r</key>
		<real>0.85</real>
		<key>g</key>
		<real>0.85</real>
		<key>b</key>
		<real>0.85</real>
		<key>a</key>
		<string>1</string>
	</dict>
	<key>badge-library-changes</key>
	<dict>
		<key>r</key>
		<real>0.71</real>
		<key>g</key>
		<real>0.23</real>
		<key>b</key>
		<real>0.87</real>
		<key>a</key>
		<string>1</string>
	</dict>
	<key>badge-plugin-updates</key>
	<dict>
		<key>r</key>
		<real>0.85</real>
		<key>g</key>
		<real>0.11</real>
		<key>b</key>
		<real>0.97</real>
		<key>a</key>
		<string>1</string>
	</dict>
	<key>label-error-color</key>
	<dict>
		<key>r</key>
		<real>0.88</real>
		<key>g</key>
		<real>0.125</real>
		<key>b</key>
		<real>0.125</real>
		<key>a</key>
		<string>1</string>
	</dict>
	<key>badge-missing-fonts</key>
	<dict>
		<key>r</key>
		<real>0.98</real>
		<key>g</key>
		<real>0.39</real>
		<key>b</key>
		<integer>0</integer>
		<key>a</key>
		<string>1</string>
	</dict>
	<key>prefs-library-error</key>
	<dict>
		<key>r</key>
		<real>0.9399999999999999</real>
		<key>g</key>
		<integer>0</integer>
		<key>b</key>
		<real>0.11</real>
		<key>New item</key>
		<string>1</string>
		<key>a</key>
		<string>1</string>
	</dict>
</dict>
</plist>
