<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MSLayer</key>
	<dict>
		<key>hidden</key>
		<dict>
			<key>locked</key>
			<dict>
				<key>selected</key>
				<dict>
					<key>alt</key>
					<string>lockWhite</string>
					<key>alt+pressed</key>
					<string>lockDarkGrey</string>
					<key>hover</key>
					<string>eyeWhite</string>
					<key>normal</key>
					<string>eyeWhite</string>
					<key>pressed</key>
					<string>eyeDarkGrey</string>
				</dict>
				<key>unselected</key>
				<dict>
					<key>alt</key>
					<string>lockDarkGrey</string>
					<key>alt+pressed</key>
					<string>lockBlue</string>
					<key>hover</key>
					<string>eyeDarkGrey</string>
					<key>normal</key>
					<string>eyeLightGrey</string>
					<key>pressed</key>
					<string>eyeBlue</string>
				</dict>
			</dict>
			<key>unlocked</key>
			<dict>
				<key>selected</key>
				<dict>
					<key>alt</key>
					<string>lockDarkGrey</string>
					<key>alt+pressed</key>
					<string>lockWhite</string>
					<key>hover</key>
					<string>eyeWhite</string>
					<key>normal</key>
					<string>eyeWhite</string>
					<key>pressed</key>
					<string>eyeDarkGrey</string>
				</dict>
				<key>unselected</key>
				<dict>
					<key>alt</key>
					<string>lockBlue</string>
					<key>alt+pressed</key>
					<string>lockDarkGrey</string>
					<key>hover</key>
					<string>eyeDarkGrey</string>
					<key>normal</key>
					<string>eyeLightGrey</string>
					<key>pressed</key>
					<string>eyeBlue</string>
				</dict>
			</dict>
		</dict>
		<key>shown</key>
		<dict>
			<key>locked</key>
			<dict>
				<key>selected</key>
				<dict>
					<key>alt</key>
					<string>eyeDarkGrey</string>
					<key>alt+pressed</key>
					<string>eyeWhite</string>
					<key>hover</key>
					<string>lockWhite</string>
					<key>normal</key>
					<string>lockWhite</string>
					<key>pressed</key>
					<string>lockDarkGrey</string>
				</dict>
				<key>unselected</key>
				<dict>
					<key>alt</key>
					<string>eyeBlue</string>
					<key>alt+pressed</key>
					<string>eyeDarkGrey</string>
					<key>hover</key>
					<string>lockDarkGrey</string>
					<key>normal</key>
					<string>lockLightGrey</string>
					<key>pressed</key>
					<string>lockBlue</string>
				</dict>
			</dict>
			<key>unlocked</key>
			<dict>
				<key>selected</key>
				<dict>
					<key>alt</key>
					<string>lockDarkGrey</string>
					<key>alt+pressed</key>
					<string>lockWhite</string>
					<key>hover</key>
					<string>eyeDarkGrey</string>
					<key>normal</key>
					<string></string>
					<key>pressed</key>
					<string>eyeWhite</string>
				</dict>
				<key>unselected</key>
				<dict>
					<key>alt</key>
					<string>lockBlue</string>
					<key>alt+pressed</key>
					<string>lockDarkGrey</string>
					<key>hover</key>
					<string>eyeBlue</string>
					<key>normal</key>
					<string></string>
					<key>pressed</key>
					<string>eyeDarkGrey</string>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>MSArtboardGroup</key>
	<dict/>
	<key>MSPage</key>
	<dict/>
	<key>MSShapePathLayer</key>
	<dict>
		<key>hidden</key>
		<dict>
			<key>unlocked</key>
			<dict>
				<key>selected</key>
				<dict>
					<key>alt</key>
					<string>eyeWhite</string>
					<key>alt+pressed</key>
					<string>eyeDarkGrey</string>
					<key>hover</key>
					<string>eyeWhite</string>
					<key>normal</key>
					<string>eyeWhite</string>
					<key>pressed</key>
					<string>eyeDarkGrey</string>
				</dict>
				<key>unselected</key>
				<dict>
					<key>alt</key>
					<string>eyeDarkGrey</string>
					<key>alt+pressed</key>
					<string>eyeBlue</string>
					<key>hover</key>
					<string>eyeDarkGrey</string>
					<key>normal</key>
					<string>eyeLightGrey</string>
					<key>pressed</key>
					<string>eyeBlue</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
